h1{
    margin: 0;
    padding: 1rem;
    color: sienna;
    /* border: 1px solid salmon; */
}


main{
    border: 2px solid salmon;
    min-height: 60vh;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}


section{
    margin: 1rem;
    padding: 2rem;
    border: 1px solid salmon;
    min-width: 10rem;
    text-align: left;
    background-color: antiquewhite;
}

img{
    margin-top: 1rem;
    background-color: burlywood;
}
